.header{
	height: 120px;
	background: url(../img/header-bg.jpg);
}
.header img{
	margin-top: 30px;
}
.edit-content{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.col-md-2{
	padding-left: 0px;
	padding-right: 0px;
}
.col-md-10{
	padding-left: 10px;
	padding-right: 0px;
}
.list-group-item a{
	text-align: center;
	display: block;
	color: #111111;
}

.list-group-item a:hover{
	color: #888888;
}
