.col-md-3{
	padding-left: 0px;
	padding-right: 0px;
}
.col-md-9{
	padding-left: 10px;
	padding-right: 0px;
}
.pagenav{
	text-align: center;
}
.data-span{
	float: right;
	color: #666666
}
.loginform{
	width: 650px;
}
