.header{
	height: 120px;
	background: url(../img/header-bg.jpg);
}
.header img{
	margin-top: 30px;
}
.edit-content{
	width: 100%;
	height: 400px;
	overflow: auto;
}
.col-md-2{
	padding-left: 0px;
	padding-right: 0px;
}
.col-md-10{
	padding-left: 10px;
	padding-right: 0px;
}
.list-group-item a{
	text-align: center;
	display: block;
	color: #111111;
}

.list-group-item a:hover{
	color: #888888;
}
th{
	text-align:center;
}
.pt tr{
	display:inline-block;
	height:38px;
	width:100%;
}
.ht{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}



